body {
    scroll-behavior: smooth;
}

.display-5 {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#icon-grid {
    line-height: 1.75rem;
}

#icon-grid .bi {
    $icon-grid-icon-size: 2.25rem;

    margin-right: 0.8em;
    margin-top: -0.25rem;

    min-width: $icon-grid-icon-size;
    max-width: $icon-grid-icon-size;
    height: $icon-grid-icon-size;

    color: #e46914;
}

.main-lead {
    background-image: linear-gradient(to right bottom, #0f172a, #2d3d57);
    color: #f8f9fa;

    margin-top: -3.5rem;
    padding-top: 7.5rem;
    padding-bottom: 6rem;
}

.theme-bg {
    background-color: #0f172a;
    color: #f8f9fa;

    $theme-bg-text-color: #adb5bd;

    .text-body-secondary {
        color: $theme-bg-text-color;
    }

    a.text-body-secondary {
        &:hover {
            color: tint-color($theme-bg-text-color, 50%);
        }
    }
}

.btn.btn-primary {
    --bs-btn-color: #fff;

    &:hover,
    &:focus-visible {
        $btn-primary-bg-color-hover: #ea580c;

        background-color: $btn-primary-bg-color-hover;
        border-color: $btn-primary-bg-color-hover;
        --bs-btn-hover-color: #fff;
    }

    &:active {
        $btn-primary-bg-color-active: shade-color($primary, 30%);

        background-color: $btn-primary-bg-color-active;
        border-color: $btn-primary-bg-color-active;
        --bs-btn-active-color: #fff;
    }
}

.btn-lead {
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.2rem;
    font-weight: 600;
}

.btn.btn-lead-secondary {
    $btn-lead-secondary-bg-color: #334155;
    --bs-btn-focus-shadow-rgb: #{to-rgb(
            tint-color($btn-lead-secondary-bg-color, 40%)
        )};

    background-color: $btn-lead-secondary-bg-color;
    border-color: $btn-lead-secondary-bg-color;
    --bs-btn-color: #fff;

    &:hover,
    &:focus-visible {
        $btn-lead-secondary-bg-color-hover: tint-color(
            $btn-lead-secondary-bg-color,
            10%
        );

        background-color: $btn-lead-secondary-bg-color-hover;
        border-color: $btn-lead-secondary-bg-color-hover;
        --bs-btn-hover-color: #fff;
    }

    &:active {
        $btn-lead-secondary-bg-color-active: tint-color(
            $btn-lead-secondary-bg-color,
            20%
        );

        background-color: $btn-lead-secondary-bg-color-active;
        border-color: $btn-lead-secondary-bg-color-active;
        --bs-btn-active-color: #fff;
    }
}

.navbar {
    font-family: "Convergence", serif;
}

.cot-toc {
    #page-toc {
        padding-right: 1rem;
    }

    ul {
        list-style: none;
        padding-left: 1rem;

        li {
            margin: 0.2rem 0;
        }
    }

    nav {
        font-size: 0.875rem;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: $primary;
            }

            &.active {
                color: $primary;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .sticky-sidebar {
        position: sticky;
        top: 1rem;
        right: 0;
        height: calc(100vh - 3rem);
        overflow-y: auto;
        max-width: 20%;
        min-width: 11.25rem;
    }
}

.guide-chapters {
    ul {
        @extend .list-unstyled;

        li {
            margin: 0.2rem 0;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }

        &.active {
            color: $primary;
        }
    }
}

.cot-guide {
    // Allow the code blocks inside guide to overflow
    min-width: 0;

    p,
    ul,
    ol,
    table {
        font-family: $font-family-serif;
    }

    h2 {
        margin-top: 2rem;
    }

    code {
        white-space: pre;
    }
}

.anchor-link {
    margin-left: calc(-0.6em - 0.9rem);
    padding: 0 0.5rem;
    font-weight: 400;
    color: $primary;
    text-decoration: none;
    opacity: 0;

    &::after {
        content: "#";
    }
}

.anchor-link:focus,
.anchor-link:hover,
:hover > .anchor-link,
:target > .anchor-link {
    opacity: 1;
}

:target {
    scroll-margin-top: 1rem;
    background-color: transparentize($primary, 0.7);
}

button.navbar-toggler {
    height: 100%;
    border: 0;
}

@include media-breakpoint-up(lg) {
    .collapse#page-toc-contents {
        display: block;
    }
}

@include media-breakpoint-down(lg) {
    #page-toc-contents nav {
        margin-top: 0.5rem;
        padding: 0.75rem 0.75rem 0 0.75rem;
        background-color: var(--bs-tertiary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
    }
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

.navbar-brand img {
    transform: scale(1.75);
    margin-right: 0.75rem;
    margin-top: -0.15rem;
}

.version-switcher {
    min-width: 5em;
}
