{% extends "_base.html" %}

{% block title %}{{ guide.title }} | Guide{% endblock %}

{% block head %}
    {% let display_version = display_version %}
    {% let guide = guide %}
    <link rel="canonical" href="{{ canonical_link }}" />
{% endblock %}

{% block content -%}
<div class="container">
    <div class="row">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="cot-guide-chapters" aria-labelledby="cot-guide-chapters-label" data-bs-theme="dark">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="cot-guide-chapters-label">Guide chapters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#cot-guide-chapters"></button>
            </div>

            <div class="offcanvas-body">
                {%- include "_guide_chapters.html" -%}
            </div>
        </div>

        <aside class="d-none d-lg-block pt-4 me-xxl-5 col-auto sticky-sidebar">
            {%- include "_guide_chapters.html" -%}
        </aside>

        {%- let page = guide -%}
        {%- let redirect_version = version -%}
        {%- let latest_version = **versions[1] -%}
        {%- include "_md_page_toc.html" -%}

        <article class="col cot-guide mt-3 px-lg-3 px-xl-5" data-bs-spy="scroll" data-bs-target="#page-toc" data-bs-offset="0" tabindex="0">
            {%- if version != "latest" && version != "master" && version != latest_version -%}
            <div class="alert alert-warning" role="alert">
                This guide is for an old Cot's version. Please check out the <a
                    href="{{ cot::reverse!(urls, "guide_version", version = "latest")? }}"
                >latest</a> version!
            </div>
            {%- endif -%}
            {%- if version == "master" -%}
            <div class="alert alert-warning" role="alert">
                This guide is for an <strong>unreleased</strong> version of Cot.
                If that's not what you want, check out the <a href="{{ cot::reverse!(urls, "guide_version", version = "latest")? }}">latest</a> version!
            </div>
            {%- endif -%}
            <h1>{{ guide.title }}</h1>

            {{- guide.content_html|safe -}}

            <nav class="border-top border-secondary-subtle py-4 d-flex flex-row flex-wrap">
                {%- if let Some(prev) = &prev -%}
                <a href="{{ cot::reverse!(urls, "guide_page", version = redirect_version, page = prev.link)? }}" class="link-secondary link-underline-opacity-0" rel="prev">
                    {%- include "icons/chevron_left.svg" -%}
                    <span class="ms-1">{{ prev.title }}</span>
                </a>
                {%- endif %}
                {%- if let Some(next) = &next -%}
                <a href="{{ cot::reverse!(urls, "guide_page", version = redirect_version, page = next.link)? }}" class="link-primary justify-content-end link-underline-opacity-0 ms-auto" rel="next">
                    <span class="me-1">{{ next.title }}</span>
                    {%- include "icons/chevron_right.svg" -%}
                </a>
                {%- endif %}
            </nav>
        </article>
    </div>
</div>
{%- endblock %}
