{% extends "_base.html" %}

{% block title %}{{ guide.title }} | Guide{% endblock %}

{% block content -%}
<div class="container">
    <div class="row">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="cot-guide-chapters" aria-labelledby="cot-guide-chapters-label" data-bs-theme="dark">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="cot-guide-chapters-label">Guide chapters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#cot-guide-chapters"></button>
            </div>

            <div class="offcanvas-body">
                {%- include "_guide_chapters.html" -%}
            </div>
        </div>

        <aside class="d-none d-lg-block pt-4 me-xxl-5 col-auto sticky-sidebar">
            {%- include "_guide_chapters.html" -%}
        </aside>

        {%- let page = guide -%}
        {%- let redirect_version = version -%}
        {%- include "_md_page_toc.html" -%}

        <div class="col cot-guide mt-3 px-lg-3 px-xl-5" data-bs-spy="scroll" data-bs-target="#page-toc" data-bs-offset="0" tabindex="0">
            <h1>{{ guide.title }}</h1>

            {{- guide.content_html|safe -}}

            <div class="border-top border-secondary-subtle py-4 d-flex flex-row flex-wrap">
                {%- if let Some(prev) = &prev -%}
                <a href="{{ cot::reverse!(request, "guide_page", version = redirect_version, page = prev.link)? }}" class="link-secondary link-underline-opacity-0">
                    {%- include "icons/chevron_left.svg" -%}
                    <span class="ms-1">{{ prev.title }}</span>
                </a>
                {%- endif %}
                {%- if let Some(next) = &next -%}
                <a href="{{ cot::reverse!(request, "guide_page", version = redirect_version, page = next.link)? }}" class="link-primary justify-content-end link-underline-opacity-0 ms-auto">
                    <span class="me-1">{{ next.title }}</span>
                    {%- include "icons/chevron_right.svg" -%}
                </a>
                {%- endif %}
            </div>
        </div>
    </div>
</div>
{%- endblock %}
